configReload:
  name: config-reload
  schedule: "*/5 * * * *"
  configURL: https://raw.githubusercontent.com/schlauerlauer/gitops/main/fetchit/config.yaml
targetConfigs:
- name: gitops
  url: https://github.com/schlauerlauer/gitops
  raw:
  - name: raw-ex
    targetPath: fetchit/raw
    schedule: "*/1 * * * *"
    pullImage: false
  branch: main
